#formedit{
    background-color: aqua;
}

#formadd{
    background-color: yellow;
}

.show{
    display: inline;
 
}

.hide{
    display: none;
}
.bg{
    background-image: url("../gambar/mcd.jpg");
    height: 100vh;
    background-size: cover;
}

table {
    border-color: red;
    outline: none;
    color: black;
}

.tbl{
    text-align: center;
}